

.user {
  margin: 0 auto;
  width: 450px;
  height: 300px;
  border: solid black 5px;
  text-align: center;
  justify-content: center;
}

.account {
  width: 600px;
  justify-content: flex-end;
}
.book {
  border: solid black 3px;
  display: -ms-grid;
}

.reading {
  background-color: rgb(13, 240, 164);
  display:inline-block;
  
}

.toread {
  background-color: gold;
  display:inline-block;
  
}

.read {
  background-color: rgb(235, 90, 90);
  display:inline-block;
  
}

.key {
  width: 300px;
}